/* Для всего документа - убираем любые отступы */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
}

/* Устанавливаем ширину и высоту для секции */
.control-device-section {
  background-image: url('https://www.supplychainbrain.com/ext/resources/2024/02/06/HEALTHCARE-ARTIFICIAL-INTELLIGENCE-AI-iStock--FotografieLink--1517344698.jpg?t=1707282440&width=1080');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; /* Убираем горизонтальную прокрутку */
  width: 100vw; /* Используем всю видимую ширину экрана */
  padding: 20px;
  box-sizing: border-box;
}

/* Контейнер для управляемого устройства и результата сканирования */
.device-control-box, .scan-result-box, .device-loading-box {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%; /* Используем всю доступную ширину */
  max-width: 600px; /* Ограничиваем максимальную ширину */
  box-sizing: border-box;
  margin: 0 auto;
}

/* Устанавливаем ширину элементов на мобильных устройствах */
@media (max-width: 768px) {
  .control-device-section {
    height: 100vh;
    padding: 10px;
    width: 100vw; /* Используем всю ширину экрана */
    overflow-x: hidden;
  }

  .device-control-box, .scan-result-box, .device-loading-box {
    width: 100%; /* Ширина 100% на мобильных устройствах */
    height: auto;
    padding: 20px;
    margin: 0 auto;
  }

  .ai-button {
    width: 100%; /* Кнопка на мобильных устройствах занимает всю ширину */
    margin-top: 20px;
  }
}

/* Стили для больших экранов */
@media (min-width: 1200px) {
  .control-device-section {
    background-image: url('https://www.supplychainbrain.com/ext/resources/2024/02/06/HEALTHCARE-ARTIFICIAL-INTELLIGENCE-AI-iStock--FotografieLink--1517344698.jpg?t=1707282440&width=1080');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Стили для бокса управления устройством */
  .device-control-box, .device-loading-box, .scan-result-box {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 60%;
  }

  .ai-button {
    font-size: 38px;
    padding: 15px;
    width: 30%;
  }
  
}

