/* Стили для слайдера изображений */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slider-button:first-of-type {
  left: 10px;
}

.slider-button:last-of-type {
  right: 10px;
}
