.section2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://img-s.wfolio.com/x/Sjpgrm2v20FR6Cth5viRkzL_0dyRc0yk/9ZAr53SKb35Qfl1d5e6G5AqIciSqSaBm/Rc2b6lXe3bPibfVRlfx7Ik2NZTiIlKS3/laByEYmK_HnXekmhdD0i5IzQ1B7zWLRB.jpg);
  background-size: cover;
  background-position: center;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: left;
  position: relative;
  font-family: Anton, sans-serif;
  color: #f1f2f0;
}

.section2-content {
  max-width: 950px; /* Увеличена ширина текстового блока */
  padding: 40px; /* Увеличены отступы */
  background-color: rgba(20, 20, 20, 0.6); /* Более насыщенный черный цвет для лучшего контраста */
  border-radius: 10px;
  text-align: center;
}

.section2 h2 {
  font-size: 3.3rem; /* Увеличен размер текста заголовка */
  font-weight: bold; /* Более светлый цвет для текста */
  margin: 0;
}

.section2 p {
  margin-top: 30px;
  font-size: 1.3rem; /* Увеличен размер текста */
  font-weight: normal; /* Более мягкий сероватый оттенок для текста */
}

/* Респонсивные стили */
@media (max-width: 1024px) {
  .section2-content {
    max-width: 800px; /* Немного уменьшаем на экранах среднего размера */
  }

  .section2 h2 {
    font-size: 3rem;
  }

  .section2 p {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .section2 {
    height: auto;
    padding: 20px;
  }

  .section2-content {
    max-width: 100%; /* Для мобильных устройств используем 100% ширины */
    padding: 15px;
  }

  .section2 h2 {
    font-size: 2.5rem;
  }

  .section2 p {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .section2 h2 {
    font-size: 2rem;
  }
  .section2 p {
    font-size: 1rem;
  }
}
