/* Main container for the video section */
.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh; /* Full screen height */
    background-color: #f0f0f0; /* Black background */
  }
  
  .video-container {
    width: 90%; 
    height: 70%;
    background-color: #1a1a1a; 
    border-radius: 12px; 
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  @media (min-width: 1200px) {
    .video-container {
      width: 80%;
      height: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .video-container {
      width: 95%;
      height: 50%;
    }
  }
  