@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .MuiLink-root {
    color: #333 !important; /* Темный цвет для ссылок */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .MuiLink-root:hover {
    color: #000 !important; /* Цвет при наведении */
  }
  