/* Keyframes for animations */
@keyframes rotate-scale-up {
    0% {
        transform: rotate(0deg) scale(0);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

.rotate-scale-up {
    animation: rotate-scale-up 0.65s linear both;
}

/* Section container styles */
.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    padding: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.section-container:hover {
    background-color: rgba(38, 61, 96, 0.1);
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icon-hover:hover {
    color: #ffffff;
}

/* Team section styles */
.team-section {
    padding-top: 50px;
    text-align: center;
    background-color: transparent;
}

.team-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #263d60;
}

.team-member {
    background-color: #654321;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-member:hover {
    transform: translateY(-10px);
    background-color: #ffaf5f !important;
}

.team-photo {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-name {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.team-role {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.team-quote {
    font-style: italic;
    margin-bottom: 15px;
}

/* Spacing adjustments for small screens */
@media (max-width: 768px) {
    .team-section {
        padding: 20px;
    }

    .team-member {
        margin-bottom: 20px; /* Add bottom margin to separate cards */
    }

    .team-member:last-child {
        margin-bottom: 0; /* Remove margin for the last card */
    }

    .team-member img {
        max-width: 150px; /* Reduce image size on smaller screens */
    }
}

/* Partner section styles */
.partner {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    padding: 15px;
}

.partner:hover {
    transform: translateY(-10px);
    background-color: #e0e0e0;
}

.partner-photo {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.partner-name {
    font-size: 1.5rem;
    color: #263d60;
}

.tractor-icon {
    width: 50px;
    height: auto;
}

.tractor-animation {
    position: absolute;
    left: -50px;
    animation: moveTractor 8s ease-in-out infinite;
}

@keyframes moveTractor {
    0% {
        left: -50px;
    }
    100% {
        left: calc(100% - 50px);
    }
}

